/* ---------------------
    - basic settings
    - slideshow container
    - news
    - section
    - basic flexbox
    - the modal
    - tabs
    - event
    - map
    - footer
    - map
    - humburger
--------------------- */

/* =====================
  basic settings
===================== */
html{
  font-size:62.5%
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

a{
  text-decoration: none;  
}

img{
  width: auto;
  max-width: 100%;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}
/* content */

/* header */
header{
  background-color:  #fff;
  /* background-color:  rgba(0,0,0,.5); */
  padding: 10px 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}

nav{
  width: 94%;
  max-width: 1200px;
  margin: 0 auto;
}

h1{
    margin: 10px 0 0;
    font-family: 'Julius Sans One', sans-serif;
  
}

h1 a{
      color: #000;

}
h1 i{
      color: #000;
      font-size: 2.3rem;
      margin-right: 5px;

}

.nav-left{
 float: left;
}
.nav-right ul{
 display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 0;
}

.nav-right a{
  display: block;
  padding: 1em;
  color: #000;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
}
@media screen and (max-width:767px) { 

header{
    padding: 10px 0 24px;
    background-color: #fff;
    /* -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s; */
}

}
/* =====================
  slideshow container
===================== */

.slideshow-container{
    /* max-width: 1000px; */
    position: relative;
    margin: 70px auto 0;
}

/* Hide the images by default */
.mySlides{
    display: none;
}

/* next & previous buttons */
.prev,
.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* position the "nextbutton" to the right */
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* hover see through */
.prev:hover,
.next:hover{
    background-color: rgba(0,0,0,0.8);
}

/* caption text */
.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* number text (1/3etc)*/
.numbertext{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* dots bullets indicators */
.dots{
  margin-top: -70px;
  position: relative;
  margin-bottom: 29px;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

/* fading animation */
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from{
        opacity: .4
    }
    to{
        opacity: 1;
    }
}

@keyframes fade{
    from{
        opacity: .4
    }
    to{
        opacity: 1
    }
}

@media screen and (max-width:767px) { 
  .slideshow-container{

    margin: 70px auto 0 ;

  }
}

/* =====================
  news
===================== */

#news-header .title-box {
  display: flex;
  flex-direction: row;
}

#news-header h2{
  width: 20%;
  text-align: center;
  font-weight: normal;
  font-size: 3.4rem;
  padding: 33px 10px 30px;
  margin: 0;
  font-family: 'Julius Sans One', sans-serif;
}

#news-header span:nth-of-type(1){
  width: 60%;
  text-align: left;
  font-size: 1.6rem;
  padding: 38px 10px 30px;
}

#news-header span:nth-of-type(2){
  width: 20%;
  text-align: center;
  display: block;
  background: #17288b;
  padding: 38px 10px 30px;
  color: #fff;
}

#news-header span:nth-of-type(2):hover{
  cursor: pointer;
}
.news-content{
  border: 1px solid #ddd;  
  padding: 30px 9%;
  display: flex;
  flex-direction: row;
  display: none;
}

.news-text{
    width: 70%;
    padding-right: 10px;
}

.news-picture{
  width: 30%;
}

@media screen and (max-width:767px) { 

  #news-header .title-box {
  display: block;
  flex-direction: unset;
  overflow: hidden;
}

#news-header h2{
  width: 100%;
  border-bottom: 1px solid #ddd;
}

#news-header span:nth-of-type(1){
  width: 70%;
  float: left;
}
#news-header span:nth-of-type(2){
  width: 30%;
  float: left;
}
.news-text{
    width: 100%;
    padding: 0 0 20px;
}

.news-picture{
  width: 100%;

}


/* float 解除 */
section.back-gray{
    clear: both;
}
}

/* =====================
  section
===================== */


section.back-gray{
  background: #f0f0f0;
}
section{
  padding: 50px 0 70px;

}

section h2{
  font-weight: normal;
  text-align: center;
  font-size: 3.4rem;
  color: #17288b;
  margin-bottom: 40px;
  font-family: 'Julius Sans One', sans-serif;
}
section h2 i.fas{
  display: block;
  margin-bottom: 5px; 
}

.wrap{
  width: 94%;
  margin: 0 auto;
}

/* =====================
  basic flexbox
===================== */


.col-4 h3{
  font-weight: normal;
  padding: 10px 0; 
}

.row{
  display: flex;
  flex-direction: row;
}

.col-4{
  width: 31%;
  word-wrap: break-word;
  cursor: pointer;
  padding: 20px;
  background: #fff;
  margin: 1%;

}

@media screen and (max-width:767px) { 
  .row{
    display: block;
  }

  .col-4{
    width: 100%;
    margin: 0 auto 20px;
    max-width: 440px;
  }

    .col-4 img{
      width: 100%;
    }


}


/* =====================
  the modal
===================== */

.modal{
    display: none; /*hidden by default*/
    position: fixed;/*stay in place*/
    z-index: 200;/*sit on top*/
    padding-top: 40px;/*location od the box*/
    left: 0;
    top: 0;
    width: 100%;/*full width*/
    height: 100%;/*full height*/
    overflow: auto;/*enable scroll if needed*/
    background-color: rgb(0,0,0);/*fullback color*/
    background-color: rgba(0,0,0,.4);/*black w/ opacity*/
}

/* modal content */
.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
    width: 500px;
}
.modal-content img{
  width: 100%;
}

/* the close button */
.close02,
.close03,
.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close02:hover,
.close02:focus,
.close03:hover,
.close03:focus,
.close:hover,
.close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.clickHere{
  display: block;
  color: #17628b;
  padding: 5px 10px;
  margin: 20px 30px 0;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #17628b;
}
.clickHere:hover{
  background: #17628b;
  color: #fff;
}

#myBtn01 p,
#myBtn02 p,
#myBtn03 p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

/* =====================
  tabs
===================== */

.tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* style the buttons that are userd to open the tab content */
.tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* change background color of buttons on hover */
.tab button:hover{
    background-color: #ddd;

}

/* create an active/current tablink class */
.tab button.active{
    background-color: #ccc;
}

/* style the tab content */
.tabcontent{
    display: none;
    padding: 30px;
    border: 1px solid #ccc;
    border-top: none;
}

/* to add fade in effect */
.tabcontent{
    animation: fadeEffect 1s;
    /* fading effect takes 1 second */
}

/* go from zero to full opacity */
@keyframes fadeEffect{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* =====================
  event
===================== */


.event-content{
 display: flex;
flex-flow: row wrap;
  
}

.event-img{
  width: 100px;
}

.event-p{
  flex: 1;
  padding-left: 20px;
  margin-top: 0;
}

.date{
  margin-left: 10px;
  font-size: 1.4rem;
}
.event-list{
  padding: 10px 0;
}

.event-list li{
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.event-list h4{
  margin-bottom: 20px;
}

@media screen and (max-width:767px) { 

.event-content{
  display: block;
}
.event-img {
    width: 100%;
}

.event-p {
    padding: 20px 0 30px;
}


}


/* =====================
  map
===================== */


iframe{
  width: 100%;
  height: 400px;
}

/* =====================
  footer
===================== */

footer{
  text-align: center;
  margin: 20px;
}

/* =====================
  humburger
===================== */

*{
  margin: 0;
  padding: 0;
}

/* icon */

#nav-icon{
  width: 45px;
  height: 30px;
  position: fixed;
  margin: 0;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  right: 20px;
  top: 20px;

}

#nav-icon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .4s ease-in-out;
}

#nav-icon span:nth-child(1){
  top: 0;
}

#nav-icon span:nth-child(2){
  top: 12px;
}

#nav-icon span:nth-child(3){
  top: 24px;
}

#nav-icon.open span:nth-child(1){
  top: 12px;
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2){
  opacity: 0;
  /* left: -60px; */
}

#nav-icon.open span:nth-child(3){
  top: 12px;
  transform: rotate(-45deg);
}

#nav-icon{
  display: none;
}

@media screen and (max-width:767px) { 

#nav-icon{
  display: flex;
}


#nav-menu{
  display: none;
}

#nav-menu.open{
  display: block;
  padding-top: 50px;

}
#nav-menu li{
  width: 100%;
}
}